.expertise {
    color: #000;
    width: 100%;
    min-height: 755px;
    text-align: center;
   
}

.expertise h2 {
    font-size: 22px;
    font-family: $font-play;
    font-weight: 700;
    color: #413d4b;
    margin-top: 70px;
    text-transform: uppercase;
}

.expertise span {
    font-family: $font-play;
    font-weight: 400;
    font-size: 14px;
    color: #2f2d35;
    opacity: 0.8;
    display: inline-block;
    margin: 15px 0;
}


.container {
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    justify-content: center;
    align-items: center;
    
    margin: 45px auto 65px;
    
}
.container__bottom {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;
}
.container__top {
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;
}
.container__item {
    width: 34%;
    /*
    max-width: 320px;
    max-height: 260px;
    */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    h3 {
    font-family: $main-font;
    font-weight: 900;
    font-size: 14px;
    color: #413d4b;
    text-transform: uppercase;
    }

    p {
    font-family: $main-font;
    font-weight: 100;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    opacity: 0.9;
    max-width: 260px;
    text-align: center;
    margin: 25px auto 40px;
    }


    &--center {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    }
}

.icon {
    margin: 40px auto;
}

.container__item:hover {
    box-shadow: inset 0px 0px 10px 5px #ebebeb;
}