.footer {
    width: 100%;
    min-height: 400px;
    background: url(../img/footer_overlay.png), url(../img/keyboard.jpg) no-repeat center;
    background-size: cover;
    
}
.footer-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    margin: 0 auto;
    &:first-child {
    padding-top: 70px;
    justify-content: space-between;
    }
}
.footer__item {
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    margin-bottom: 50px;
    &:nth-child(1) {
        margin: 0 25px 50px 0;
        max-width: 290px;
    }
    &:nth-child(2) {
        margin: 0 45px 50px 0;
        max-width: 275px;
    }
    &:last-child {
        max-width: 300px;
        
    }

    h2 {
        margin-top: 22px;
        margin-bottom: 35px;
        text-transform: uppercase;
        text-align: left;
    }

    p.left{
        margin-top: 25px;
        font-size: 14px;
        line-height: 26px;
        font-family: $main-font;
        font-weight: 100;
        text-align: left;
        max-width: 285px;
        min-height: 95px;
    }

    p.center {
    max-width: 270px;
    min-height: 75px;
    text-align: left;
    font-size: 14px;
    font-family: $main-font;
    font-weight: 100;
    line-height: 26px;  
    margin-bottom: 25px;
    }

    span.center {
        width: 245px;
    text-align: left;
    
    }

    span {
        font-size: 14px;
        font-family: $main-font;
        font-weight: 100;
    }
    
    input {
        width: 100%;
        max-width: 210px;
        height: 45px;
        display: inline-block;
        background-color: transparent;
        padding-left: 10px;
        margin-right: 10px;
        color: #fff;
        border: 1px solid #9e97af;
    }

    button {
        width: 70px;
        height: 45px;
        background-color: rgba($color: #fff, $alpha: 0.5);
        border: transparent;
        cursor: pointer;
        transition: 0.7s ease-in-out;
        &:hover {
            background-color: rgba($color: #fff, $alpha: 1);   
        }
    }

    form {
        display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    }
}

.logo span {
    font-size: 30px;
}

.locate {
    padding-right: 10px;
    padding-bottom: 45px;
    float: left;
}
.phone {
    padding-right: 10px;

}
.social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    &__logo {
        border: 1px solid rgba($color: #fff, $alpha: 0.85);
    border-radius: 50%;
    padding: 8px 9px;
    cursor: pointer;
    &:first-child {
        padding: 8px 12px;
    }
    &:nth-child(4) {
        padding: 8px 10px;
    }
    &:nth-child(5) {
        padding: 8px 7px;
    }
    &:hover {
        transform: scale(1.2);
        box-shadow: 5px -3px 6px rgb(218, 150, 86);
    }
    }
}


.extra {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    span {
        text-transform: uppercase;
        font-size: 13px;
        margin-right: 20px;
        cursor: pointer;
    }
}

.copyright {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}