.video {
    background: url(../img/overlay_video.png), url(../img/city.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 550px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
transition: 0.9s linear;
    &:hover {
        background:  url(../img/city.jpg) no-repeat center;
    background-size: cover;
    }
}

.play{
    border: 2px solid #fff;
    border-radius: 50%;  
    width: 105px;
    height: 105px;
    padding: 25px;
    padding-left: 30px;
   
   cursor: pointer;
}

.video h2 {
    text-transform: uppercase;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 900;
    margin-top: 30px;
}